:root
{
    /* Estilo de letra */
    --fuentePrincipal: 'Montserrat','Light', 'Regular', Medium, Bold;

    /* Colores */
    --azulOscuro: #0264fb;
    --naranjaClaro: #ffb03a;
    --negro: #000000;
    --gris: #4b4b4b;
    --blanco: #ffffff;

}

html
{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after 
{
    box-sizing: inherit;

}
.barra navegacion a
{
    background-color: var(--azulOscuro);
    text-decoration: none;
    font-family: var(--fuentePrincipal);
}


.barra
{
    background-color: var(--azulOscuro);
    padding: 1rem 0;
}


.barra .navegacion a
{
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    padding: 1200px 0;
    text-decoration: none;
    color:var(--blanco);
}

.hero
{
    
}
.hero .contenido-hero a
{
    color: var(--naranjaClaro);
    text-decoration: none;
    padding: 2rem 0;
}

/* PLANES */
.contenedor-servicios
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media (min-width: 768px) {
    .contenedor-servicios {
        grid-template-columns: repeat(4, 1fr);
    }
}

.servicio p
{
    color: var(--gris);
    text-align: center;
}
.servicio h2
{
    color: var(--azulOscuro);
    text-align: center;
}
.servicio h3
{
    text-align: center;
}


/* CARACTERISTICAS */
.contenedor-caracteristicas
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

@media (min-width: 768px) 
{
    .contenedor-caracteriticas {
        grid-template-columns: repeat(3, 1fr);
    }
}

.caracteristica h4
{
    color: var(--azulOscuro);
    text-align: center;
}

.caracteristica p
{
    color: var(--gris);
    text-align: center;

}